{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
            College Placement Management System
        {% endblock %}
    </title>

    <link rel="stylesheet"
          href="{% static 'css/style.css' %}">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

</head>

<body>

    {% include "navbar.html" %}
    {% if messages %}

<div class="message-container">

    {% for message in messages %}

        <div class="alert {{ message.tags }}">
            {{ message }}
        </div>

    {% endfor %}

</div>

{% endif %}

    <main>

        {% block content %}

        {% endblock %}

    </main>

    {% include "footer.html" %}

    <script src="{% static 'js/app.js' %}"></script>

</body>

</html>